[MASTER]

# Specify the maximum allowed line length
max-line-length = 120

# Disable the message, report, category or checker with the given id(s).
disable=missing-function-docstring,
        missing-module-docstring,
        no-member,
        undefined-variable

[MESSAGES CONTROL]

# Enable or disable the message, report, category or checker with the given id(s).
enable = C0103, C0111

[BASIC]

# Naming style checks
variable-rgx = "[a-z_][a-z0-9_]{2,30}$"
const-rgx = "[A-Z_][A-Z0-9_]{2,30}$"
method-rgx = "[a-z_][a-z0-9_]{2,30}$"
attr-rgx = "[a-z_][a-z0-9_]{2,30}$"
function-rgx = "[a-z_][a-z0-9_]{2,30}$"
module-rgx = "[a-z_][a-z0-9_]{2,30}$"
class-rgx = "[A-Z_][a-zA-Z0-9]+$"
argument-rgx = "[a-z_][a-z0-9_]{2,30}$"

# Minimum number of public methods for a class (warning)
min-public-methods = 1

[FORMAT]

# Maximum number of arguments for function / method (warning)
max-args = 5

# Maximum number of locals for function / method body (warning)
max-locals = 10

# Maximum number of return / yield statements in function / method body (warning)
max-returns = 6

[SIMILARITIES]

# Ignore similar variable names
ignore-similarities = yes

[REPORTS]

# Set the output format
output-format = colorized
