{% extends "base.html" %}
{% block content %}


<div class="container text-center">

    <div class="container " style="height: 100vh ; display:flex ; align-items:center; justify-content:center">
        <div class="row h-auto justify-content-center align-items-center ">
            <div class="col-5 ">
                <h1 class="text-white">
                    Search for the product:
                </h1>

            </div>

            <div class="col align-items-center ">
                <div class="container ">
                    <form action="#" class="row " method="post">

                        <div class="col-8">

                            <input class="form-control" id="inputPassword2" name="product_name" placeholder=""
                                   type="text">
                        </div>
                        <div class="col-auto ">
                            <button class="btn btn-primary mb-3" type="submit">Submit</button>
                        </div>
                    </form>

                </div>


            </div>

        </div>
    </div>


    <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
            <thead>
            <tr>


                <th scope="col">No.</th>
                <th scope="col">Products available in Flipkart</th>
                <th scope="col">Price</th>
                <th scope="col">Products available in Amazon</th>
                <th scope="col">Price</th>
            </tr>
            </thead>

            <tbody>
            {% for value in stocklist%}
            <tr scope="row">

                <td>
                    {{ value[0] }}
                </td>
                <td>{{ value[1] }}</td>
                <td>
                    {{ value[2] }}
                </td>
                <td>{{ value[3] }}</td>
                <td>{{ value[4] }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>


{% endblock %}
